*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

p{
    font-size: 1.25rem;
    font-weight: normal;
}

.Maintitle{
    font-size: 3rem;
    font-weight: bold;
    padding-top: 0.94rem;
}

.SubTitle{
    font-weight: bold;
    font-size: 2rem;
}
.SubTitle_2{
    padding: 0.5rem 6.25rem 0.2rem 6.25rem;
    font-weight: bold;
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
    font-weight: normal;
    padding-top: 0.5rem;
}
:root{
    --coffee: #93734d;

}
.header{
    /*background-image: url("Assets/design-space-stained-paper-textured-background.jpg");*/
    background-image: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url("Assets/design-space-stained-paper-textured-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #000000;
    padding: 3.12rem 6.25rem 1rem 6rem;

}

.header-tekst h1{
    padding-top: 0.94rem;
}

.header-tekst img{
    height: 12rem;
}
.header-tekst{
    display: flex;
    justify-content: space-between;
}

.header-tekst p{
    padding-top: 0.625rem;
}
.socials{
    display: flex;
    justify-items: flex-start;
}
.socials img{
    height: 2rem;
    width: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.socials{
    width: 5rem;
    display: flex;
    justify-content: space-between;
}
.devider{
    height: 0.1rem;
    background-color: var(--coffee);
    width: 98%;
    margin: auto;
}
.Contact{
    display: flex;
    justify-content: space-evenly;
}

.Mail img, .GSM img{
    width: 2rem;
    margin: 1rem;
}
.Mail, .GSM{
    display: flex;
    align-items: center;
}

.Projects_container{
    display: flex;
    flex-direction: row;
    padding: 0.5rem 6.25rem 1rem 6.25rem;
}
.column {
    width: 100%;
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}
.columnLeft{
    border-right: 2px solid var(--coffee);
}
.Project{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Project img{
    width: 30rem;
    border-radius: 0.6rem;
}
.Project h2{
    padding-bottom: 0.5rem;
}
.devider_projects{
    height: 0.05rem;
    background-color: var(--coffee);
    width: 86%;
    margin: auto;
}

.Footer{
    background-image: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url("Assets/design-space-stained-paper-textured-background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    color: #000000;
    padding: 1rem 6.25rem 1rem 6rem;

}

@media screen and (max-width: 1030px){
    p{
        font-size: 1rem;
        font-weight: normal;
    }

    .Maintitle{
        font-size: 2.50rem;
        font-weight: bold;
        padding-top: 0.94rem;
    }

    .SubTitle{
        font-weight: bold;
        font-size: 1.75rem;
    }
    .SubTitle_2{
        padding: 0.5rem 6.25rem 0.2rem 6.25rem;
        font-weight: bold;
        font-size: 2rem;
    }

    h3{
        font-size: 1.25rem;
        font-weight: normal;
        padding-top: 0.5rem;
    }
    .Projects_container{
        display: flex;
        flex-direction: row;
    }
    .columnLeft{
        border-right: 0;
    }
    .header-tekst img{
        height: 12rem;
    }
    .socials img{
        height: 1.90rem;
        width: 1.90rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
    .Project img{
        width: 18rem;
        border-radius: 0.6rem;
    }
}

@media screen and (max-width: 600px){
    .Projects_container{
        display: flex;
        flex-direction: column;
        padding: 0.5rem 3rem 1rem 3rem;
    }
    .header{
        padding: 2rem 3rem 1rem 3rem;
    }
    p{
        font-size: 0.9rem;
        font-weight: normal;
    }

    .Maintitle{
        font-size: 2rem;
        font-weight: bold;
        padding-top: 0.94rem;
    }

    .SubTitle{
        font-weight: bold;
        font-size: 1.15rem;
    }
    .SubTitle_2{
        padding: 0.5rem 3rem 0.2rem 3rem;
        font-weight: bold;
        font-size: 1.5rem;
    }
    h2{
        font-size: 1.2rem;
    }
    h3{
        font-size: 1.25rem;
        font-weight: normal;
        padding-top: 0.5rem;
    }

    .header{
        padding: 1rem 3rem 1rem 3rem;

    }
    .header-tekst img{
        height: 10rem;
        padding-top: 1rem;
    }
    .socials img{
        height: 1.90rem;
        width: 1.90rem;
        padding-top: 1rem;
        padding-bottom: 0.75rem;
    }
    .Contact{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .Mail img, .GSM img{
        width: 1.75rem;
        margin: 0.40rem;
    }

  .devider_projects{
      display: none;
  }

    .Project img{
        width: 18rem;
        border-radius: 0.6rem;
    }
}