* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

p {
  font-size: 1.25rem;
  font-weight: normal;
  padding-bottom: 2rem;
  padding-right: 0.5rem;
}
.Desc{
    padding: 0.5rem 6.25rem 2rem 6.25rem;
}

.KleineLettertjes{
  font-size: 0.75rem;
}

.Maintitle {
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 0.94rem;
}

.SubTitle {
  font-weight: bold;
  font-size: 2rem;
}

.SubTitle_2 {
  padding: 0.6rem 6.25rem 0 6.25rem;
  font-weight: bold;
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: normal;
  padding: 0.3rem 6.25rem 0.2rem 6.25rem;
}
:root {
  --coffee: #93734d;
}
.navigate-back img {
  height: 5rem;
  width: 5rem;
  position: absolute;
  left: 3rem;
  padding-top: 0.25rem;
}

nav {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("Assets/design-space-stained-paper-textured-background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  color: #000000;
  height: 5.2rem;
  display: flex;
  justify-content: center;
}

.main {
  margin-bottom: 4rem;
}
.devider {
  height: 0.2rem;
  background-color: var(--coffee);
  margin: auto;
  width: 90%;
}


.digital-art {
  height: 30rem;
  object-fit: contain;
}

.Projects_container {
  display: flex;
  flex-direction: row;
  padding: 0 6.25rem 1rem 6.25rem;
}
.column {
  width: 100%;
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
.columnLeft {
  border-right: 1.5px solid var(--coffee);
  
}
.Project {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Project img {
  width: 100%;
  border-radius: 0.6rem;
  width: 20rem;
}

.carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem; /* verander dit naar hoe veel space ge wilt */
}

.Project h2 {
  padding-bottom: 0.5rem;
}
.devider_projects {
  height: 0.05rem;
  background-color: var(--coffee);
  width: 86%;
  margin: auto;
}

.container {
  padding-bottom: 1.5rem;
}
.Project iframe {
  height: 25rem;
}

.Projects_container {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 6.25rem 1rem 6.25rem;
}
.column {
  width: 100%;
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: column;
}

.Project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials{
    display: flex;
    width: 5rem;
    justify-content: space-between;

}
.socials img{
    height: 3rem;
    width: 3rem;
    padding-left: 0.2rem;
    
}


.Footer{
    background-image: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url("Assets/design-space-stained-paper-textured-background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    color: #000000;
    padding: 1rem 6.25rem 1rem 6rem;

}

@media screen and (max-width: 1030px) {
  .navigate-back img {
    height: 3.2rem;
    width: 3.2rem;
    position: absolute;
    left: 3rem;
    padding-top: 0.25rem;
    padding-right: 0.25rem;
  }
  nav {
    height: 3.5rem;
  }
  p {
    font-size: 0.9rem;
    padding: 0.5rem 0 0.25rem 0;
  }
  .Desc{
    font-size: 0.9rem;
    padding: 0.5rem 5rem 2rem 5rem;
  }
  .Next p {
    padding: 0.5rem 4rem 2rem 4rem;
  }

  .Maintitle {
    font-size: 1.75rem;
    padding-top: 0.94rem;
  }

  .SubTitle {
    font-weight: bold;
    font-size: 1.15rem;
  }
  .SubTitle_2 {
    padding: 0.5rem 3rem 0.2rem 3rem;
    font-weight: bold;
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1.25rem;
    font-weight: normal;
    padding-top: 0.5rem;
  }
  .Projects_container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 2rem 1rem 2rem;
  }
  .columnLeft {
    border-right: 0;
  }
  .Projects_container {
    display: flex;
    flex-direction: row;
  }
  .Project img {
    width: 18rem;
    border-radius: 0.6rem;
  }

  .Footer{
        padding: 1rem 5rem 1rem 5rem;
    }
   .socials img{
        height: 2.3rem;
        width: 2.3rem;
        
        padding-bottom: 0.5rem;
    }
}
@media screen and (max-width: 600px) {
   nav {
  height: 3.5rem;
  display: flex;
  justify-content: center;
}
.navigate-back img{
    left: 1.5rem;
}
  .Projects_container {
    display: flex;
    flex-direction: column;
    padding: 0 1.75rem 1rem 1.75rem;
  }
  .header {
    padding: 2rem 3rem 1rem 3rem;
  }
  p {
    font-size: 0.9rem;
    font-weight: normal;
    padding: 0 0 0.3rem 0;
  }
  .Desc {
    font-size: 0.9rem;
    padding: 0.5rem 3rem 1.5rem 3rem;
  }

  .KleineLettertjes{
    font-size: 0.65rem;
  }
  .Maintitle {
    font-size: 1.70rem;
    padding-top: 0.94rem;
  }

  .SubTitle {
    font-weight: bold;
    font-size: 1.15rem;
  }
  .SubTitle_2 {
    padding: 0.05rem 3rem 0 2.5rem;
    font-weight: bold;
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.2rem;
    padding-top: 0.75rem;
  }
  h3 {
    font-size: 1.25rem;
    font-weight: normal;
    padding-top: 0.5rem;
  }

  .header {
    padding: 1rem 3rem 1rem 3rem;
  }
  .header-tekst img {
    height: 10rem;
    padding-top: 1rem;
  }

  .devider_projects {
    display: none;
  }

  .Project img {
    width: 14.5rem;
    display: flex;
    justify-content: center;
    border-radius: 0.6rem;
  }
  .carousel{
    gap: 1rem;
    
  }
   .Footer{
        padding: 1rem 2.5rem 1rem 2.5rem;
    }
   .socials img{
        height: 1.5rem;
        width: 1.5rem;
        padding-bottom: 0;
        
        
    }
}
